In [7]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [8]:
producer = KafkaProducer(
    bootstrap_servers=["localhost:9092"],  # Use 'localhost' and the port where Kafka is running
    value_serializer=lambda x: dumps(x).encode('utf-8')
)

In [9]:
df = pd.read_csv("hourlyCalories_merged.csv")

In [10]:
df.iloc[10:20]

            Id   ActivityHour  Calories
10  1503960366  3/12/16 10:00        89
11  1503960366  3/12/16 11:00       134
12  1503960366  3/12/16 12:00       130
13  1503960366  3/12/16 13:00        81
14  1503960366  3/12/16 14:00       254
15  1503960366  3/12/16 15:00       271
16  1503960366  3/12/16 16:00       141
17  1503960366  3/12/16 17:00       104
18  1503960366  3/12/16 18:00        54
19  1503960366  3/12/16 19:00        97

In [11]:
df.shape

(24084, 3)

In [12]:
for index, row in df.iterrows():
    dict_stock = row.to_dict()  # Convert the row to a dictionary
    producer.send('demo_test', value=dict_stock)  # Send the dictionary to the Kafka topic
    producer.flush()

In [6]:
producer.flush() #Ensures the data is sent to brokers from kafka server

In [ ]:
df.shape